.questionOne,
.questionTwo,
.questionThree,
.questionFour,
.questionFive,
.choseRuby,
.choseCsharp,
.choseCss,
.equal,
.or,
.reset {
    display: none;
}

.or {
    margin: 10px 0;
}

.jumbotron h1,
.jumbotron h2 {
    text-align: center;
}

.theSubmit {
    margin-top: 20px;
}